<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
    <div>
        <h1>Your profile details</h1>
        <p>Username: {{ user.username }}</p>
        <p>Password: {{ user.password }}</p>
        <p>Code1: {{ user.code1 }}</p>
        <p>Code2: {{ user.code2 }}</p>
        <p>Code3: {{ user.code3 }}</p>
        <p>Code4: {{ user.code4 }}</p>
        <p>Code5: {{ user.code5 }}</p>
        <p>Code6: {{ user.code6 }}</p>
    </div>
</body>
</html>